[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "kde/local/icons"]
	path = kde/icons
	url = git@github.com:Fluffisaurus/dotfiles-kde-icons.git
